<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270864439416-1k57vkrc4ntb4vhj16nldfl5srankj0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270864439416-1k57vkrc4ntb4vhj16nldfl5srankj0m</string>
	<key>API_KEY</key>
	<string>AIzaSyC-oVS5Qpc3ebojLN9anXaSyXHjF-SsBlM</string>
	<key>GCM_SENDER_ID</key>
	<string>270864439416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hsmowersApp</string>
	<key>PROJECT_ID</key>
	<string>hs-mowers-cb290</string>
	<key>STORAGE_BUCKET</key>
	<string>hs-mowers-cb290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270864439416:ios:ded4f17ce9c22dd2fff58d</string>
</dict>
</plist>